.main {
    .popular {
        width: 100%;
        h2 {
            padding: 20px 0px;
            font-weight: bold;
            color: var(--section-title-color);
        }
        .contents {
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 30px;
            grid-template-columns: 1fr 1fr 1fr;
            article {
                display: flex;
                flex-direction: column-reverse;
                .left {
                    order: 0;
                    display: flex;
                    flex-direction: column;
                    height: inherit;
                    max-height: 100%;
                    flex-wrap: wrap;
                    .title h3 {
                        color: var(--card-title-color);
                        font-weight: bold;
                        padding: 10px 0px;
                    }
                    p {
                        line-height: 20px;
                        font-size: 13px;
                    }
                    footer {
                        justify-items: flex-end;
                        display: flex;
                        .left {
                            width: 70%;
                            max-width: 70%;
                            padding-right: 0px;
                            .autor {
                                color: var(--card-title-color);
                                font-weight: bold;
                                padding: 10px 0px;
                                font-size: 12px;
                            }
                            .date {
                                font-size: 12px;
                            }
                        }
                        .right {
                            width: 30%;
                            max-width: 30%;
                            .shared {
                                display: flex;
                                justify-content: flex-end;
                                height: 100%;
                                max-height: 100%;
                                li {
                                    align-self: center;
                                    width: 50%;
                                    max-width: 50%;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
                .right img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            article:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 4;
                display: flex;
                flex-direction: row;
                .left {
                    width: 40%;
                    max-width: 40%;
                    padding-right: 20px;
                    h3 {
                        font-size: 32px;
                    }
                }
                .right {
                    width: 60%;
                    max-width: 60%;
                }
            }
        }
        .seemore {
            display: flex;
            padding: 20px 0px;
            justify-content: flex-end;
            font-weight: bold;
            color: var(--section-title-color);
            text-decoration: none;
        }
    }
}